# Byte-compiled / optimized / DLL files
*.pth
*.pyc
*.pyo
*.backup
*.json
*.tar.gz
*.zip

# Directories
SaliencyMaps
Deprocessed
Overlapped
Heatmapped

# C extensions
*.so

# Vim savestates
*.swo
*.swp

